.AppWrap {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results {
  height: 300px;
}


.log div span {
  color: red;
}

button {
    padding: 9px;
    background: #c8c8ff;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
}
